---
import { API_URL } from "../../../../config/urls";
import { MEDIA_URL } from "../../../../config/urls";
const res = await fetch(API_URL + 'blocks/199');
const data = await res.json();

const pageData = data[1];
const list = pageData?.list_items[0];
---

<div class="grid grid-cols-1 lg:grid-cols-[1.2fr_0.8fr] gap-5 px-[18px] py-[70px] md:px-[60px] md:py-[100px]">
    <div class="mr-[30px]">
        <p class="text-[18px] font-[600] text-[#ff5f55] mb-[20px]">{pageData.paragraphs[0]}</p>
        <h1 class="text-[35px] md:text-[45px] font-[700] md:font-[600] text-[#191d27] mb-[20px]">{pageData.headings[0]}</h1>
        <p class="text-[16px] font-[500] text-[#616670] mb-[20px]">{pageData.paragraphs[1]}</p>
        <p class="text-[16px] font-[700] text-[#616670] mb-[20px]">{pageData.paragraphs[2]}</p>
        {
            list?.map((item: any) => (
                <div class="flex items-center gap-2 mb-[20px]">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="#ff5f55" d="m10.6 16.6l7.05-7.05l-1.4-1.4l-5.65 5.65l-2.85-2.85l-1.4 1.4zM12 22q-2.075 0-3.9-.788t-3.175-2.137T2.788 15.9T2 12t.788-3.9t2.137-3.175T8.1 2.788T12 2t3.9.788t3.175 2.137T21.213 8.1T22 12t-.788 3.9t-2.137 3.175t-3.175 2.138T12 22"/></svg>
                    <p class="text-[15px] font-[500] text-[#54595f]">{item?.heading}</p>
                </div>
            ))
        }
    </div>
    <div class="pt-[20px] md:pt-[50px] lg:px-[40px] relative w-fit">
        <div class="absolute w-[280px] h-[250px]  md:w-[600px] lg:w-[400px] md:h-[400px] lg:h-[450px] bg-[#f4f4f4] rounded-[30px] z-0 bottom-10 left-10 md:bottom-15 md:left-15 lg:bottom-20 lg:left-20"></div>

        <img
            src={MEDIA_URL + pageData.images?.[0]?.src}
            alt={pageData.images?.[0]?.alt}
            class="w-[280px] md:w-[600px] lg:w-[500px] h-[250px] md:h-[400px] lg:h-[450px] object-cover rounded-[30px] relative z-10"
        />
    </div>
</div></div>