---
import { API_URL } from "../../../../config/urls";

const res = await fetch(API_URL + "blocks/206");
const data = await res.json();

const pageData = data[1];
---

<div class="demanzo-container-auto flex items-center justify-center px-[15px] !py-[50px] lg:px-[60px] text-center">
    <h2 class="demanzo-h1">
        {pageData.headings[0]}
        <a href={pageData.paragraphs[0]} class="text-[#61ce70]">{pageData.headings[1]}</a>
        {pageData.headings[2]}
        <a href={pageData.paragraphs[1]} class="text-[#61ce70]">{pageData.headings[3]}</a>
    </h2>
</div>