---
import WpContentParser from '../components/common/WpContentParser';
import { BLOG_URL } from '../config/urls';

export async function getStaticPaths() {
  const res = await fetch(BLOG_URL + 'per_page=100');
  const posts = await res.json();

  const paths = posts.map((post: { slug: string }) => ({
    params: { Blog: post.slug }, // this matches [Blog].astro
  }));

  return paths;
}

const { Blog: slug } = Astro.params;

const res = await fetch(BLOG_URL +`slug=${slug}`);
const postData = await res.json();
const post = postData[0];
---

<html>
  <head>
    <title>{post.title.rendered}</title>
  </head>
  <body>
    <!-- <h1>{post.title.rendered}</h1>
    <article>
      <div set:html={post.content.rendered} />
    </article> -->

    <WpContentParser content={post.content.rendered} client:load/>
  </body>
</html>
